In [1]:
import pandas as pd

In [13]:
# read data from Google Sheets clipboard
# NOTE: the first item in the copy/paste will be used as the column number
df = pd.read_clipboard()

In [14]:
df.head(5)

  circular_number
0              66
1              67
2              68
3              69
4              70

In [15]:
# add string to the beginning of the column
df['circular_number'] = 'Circular ' + df['circular_number'].astype(str)

In [16]:
df.head(5)

  circular_number
0     Circular 66
1     Circular 67
2     Circular 68
3     Circular 69
4     Circular 70

In [18]:
# copy page total list to clipboard for Google Sheets
df.to_clipboard(index=False, header=False, excel=True, sep='\t')